# Lists

*PY4E Textbook*

## A list is a sequence
Like a string, a list is a sequence of values. In a string, the values are characters; in a list, they can be any type. The values in lists are called *elements* or sometimes *items*.


There are several ways to create a new list; the simplest is to enclose the elements in square brackets (“[” and ”]”):

In [ ]:
[10, 20, 30, 40]

[10, 20, 30, 40]

In [ ]:
['crunchy frog', 'ram bladder', 'lark vomit']

['crunchy frog', 'ram bladder', 'lark vomit']

The first example is a list of four integers. The second is a list of three strings. The elements of a list don’t have to be the same type. The following list contains a string, a float, an integer, and (lo!) another list:

In [ ]:
['spam', 2.0, 5, [10, 20]]

['spam', 2.0, 5, [10, 20]]

A list within another list is *nested*.


A list that contains no elements is called an empty list; you can create one with empty brackets, [].


As you might expect, you can assign list values to variables:

In [5]:
cheeses = ['Cheddar', 'Edam', 'Gouda']
numbers = [17, 123]
empty = []
print(cheeses, numbers, empty)
print(cheeses[2])

['Cheddar', 'Edam', 'Gouda'] [17, 123] []
Gouda

## Lists are mutable

The syntax for accessing the elements of a list is the same as for accessing the characters of a string: the bracket operator. The expression inside the brackets specifies the index. Remember that the indices start at 0:

In [2]:
print(cheeses[0])

NameError: name 'cheeses' is not defined

Unlike strings, lists are mutable because you can change the order of items in a list or reassign an item in a list. When the bracket operator appears on the left side of an assignment, it identifies the element of the list that will be assigned.

In [15]:
numbers = [17, 123]
numbers[1] = 5
print(numbers)

[17, 5]

The one-th element of `numbers`, which used to be 123, is now 5.


You can think of a list as a relationship between indices and elements. This relationship is called a *mapping*; each index “maps to” one of the elements.


List indices work the same way as string indices:

- Any integer expression can be used as an index.

- If you try to read or write an element that does not exist, you get an `IndexError`.

- If an index has a negative value, it counts backward from the end of the list.

The `in` operator also works on lists.

In [ ]:
cheeses = ['Feta', 'Cheddar', 'Ricotta', 'Mozzarella', 'Edam', 'Gouda']
print('Edam' in cheeses)

print('Brie' in cheeses)

True
False

## Traversing a list

The most common way to traverse the elements of a list is with a `for` loop. The syntax is the same as for strings:

In [ ]:
for cheese_name in cheeses:
    print(cheese_name)
print()
for cheese_name in sorted(cheeses):
    print(cheese_name)
print()
for cheese_name in sorted(cheeses, reverse=True):
    print(cheese_name)

Feta
Cheddar
Ricotta
Mozzarella
Edam
Gouda

Cheddar
Edam
Feta
Gouda
Mozzarella
Ricotta

Ricotta
Mozzarella
Gouda
Feta
Edam
Cheddar

This works well if you only need to read the elements of the list. But if you want to write or update the elements, you need the indices. A common way to do that is to combine the functions `range` and `len`:

In [ ]:
numbers = [1, 2, 3, 4]
for i in range(len(numbers)):
    numbers[i] = numbers[i] * 2
print(numbers)

[2, 4, 6, 8]

In [13]:
numbers = [1, 2, 3, 4]
print(len(numbers))
print(range(len(numbers)))

4
range(0, 4)

Purpose: This loop goes through each element of the `numbers` list, multiplies it by 2, and updates the list with the new values.

This loop traverses the list and updates each element. `len` returns the number of elements in the list. `range` returns a list of indices from 0 to n − 1, where n is the length of the list. Each time through the loop, `i` gets the index of the next element. The assignment statement in the body uses `i` to read the old value of the element and to assign the new value.

**Why Use a `for` Loop?**

In this case, a `for` loop is suitable because the number of iterations is known in advance. Specifically:

- We know that the loop needs to run a fixed number of times, which is the length of the list `(len(numbers))`.
- A `for` loop is generally preferred for iterating over a sequence when the range or number of elements is predefined or easy to determine.

**Possible to Use a `while` Loop?**

Yes, you can use a `while` loop to achieve the same result. Here's how you could rewrite it with a `while` loop:

In [ ]:
numbers = [1, 2, 3, 4]
i = 0
while i < len(numbers):
    numbers[i] = numbers[i] * 2
    i += 1
print(numbers)

[2, 4, 6, 8]

**Which is Better?**

In this example, a `for` loop is generally better suited and more readable because it clearly indicates the range of iteration upfront.

However, if you want more control over the loop’s flow based on a condition (e.g., break out of the loop early when a certain condition is met), a `while` loop can be more flexible.

A `for` loop over an empty list never executes the body:

In [ ]:
empty = []
for x in empty:
    print('This never happens.')

Although a list can contain another list, the nested list still counts as a single element. The length of this list is four:

In [16]:
nested_list = ['spam', 1, ['Brie', 'Roquefort', 'Pol le Veq'], [1, 2, 3]]
print(len(nested_list))
print(nested_list[3])
print(nested_list[3][1]) # This approach works for any depth of nesting, as long as you continue to add indices for each level.

4
[1, 2, 3]
2

## List operations

The `+` operator concatenates lists:

In [ ]:
a = [1, 2, 3]
b = [4, 5, 6]
c = a + b
print(c)

[1, 2, 3, 4, 5, 6]

Similarly, the `*` operator repeats a list a given number of times:

In [ ]:
print([0] * 4)
print([1, 2, 3] * 3)

[0, 0, 0, 0]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

**How to add corresponding elements from two lists (`a` and `b`)?**

You can use a for loop to iterate through both lists simultaneously and store the sums in a new list.

In [ ]:
a = [1, 2, 3]
b = [4, 5, 6]

# Using a list comprehension
c = [a[i] + b[i] for i in range(len(a))]
print(c)

[5, 7, 9]

The `range(len(a))` generates indices for the elements in list `a` (or list `b` since they are the same length).

In [ ]:
a = [1, 2, 3, 4]
b = [5, 6, 7]

# Using a list comprehension
c = [a[i] + b[i] for i in range(len(a))]
print(c)

IndexError: list index out of range

Using `zip` for a Cleaner Approach

You can also use `zip`, which pairs the elements of `a` and `b` directly:

In [ ]:
a = [1, 2, 3, 4]
b = [5, 6, 7]

# Using zip to add corresponding elements
c = [x + y for x, y in zip(a, b)]
print(c)

[6, 8, 10]

## List slices

The slice operator also works on lists:

In [ ]:
t = ['a', 'b', 'c', 'd', 'e', 'f']
print(t[1:3])
print(t[:4])
print(t[3:])
print(t[:])

['b', 'c']
['a', 'b', 'c', 'd']
['d', 'e', 'f']
['a', 'b', 'c', 'd', 'e', 'f']

If you omit the first index, the slice starts at the beginning. If you omit the second, the slice goes to the end. So if you omit both, the slice is a copy of the whole list.

Since lists are mutable, it is often useful to make a copy before performing operations that fold, spindle, or mutilate lists.

A slice operator on the left side of an assignment can update multiple elements:

In [ ]:
t = ['a', 'b', 'c', 'd', 'e', 'f']
t[1:3] = ['x', 'y']
print(t)

['a', 'x', 'y', 'd', 'e', 'f']

## List methods

Python provides methods that operate on lists. For example, `append` adds a new element to the end of a list:

In [ ]:
t = ['a', 'b', 'c']
t.append(['d','e'])
print(t)

['a', 'b', 'c', ['d', 'e']]

if you want to add `'d'` between `'b'` and `'c'`, you can use `insert()` with the index position where you want to insert `'d'`.

In [ ]:
t = ['a', 'b', 'c']
t.insert(2, 'd')  # Insert 'd' at index 2, which is between 'b' and 'c'
print(t)

['a', 'b', 'd', 'c']

`extend` takes a list as an argument and appends all of the elements:
This example leaves `t2` unmodified.

In [ ]:
t1 = ['a', 'b', 'c']
t2 = ['d', 'e']
t1.extend(t2)
print(t1)
print(t2)

['a', 'b', 'c', 'd', 'e']
['d', 'e']

`sort` arranges the elements of the list from low to high:

In [ ]:
t = ['d', 'c', 'e', 'b', 'a']
t.sort()
print(t)    # modifieds the list in place

['a', 'b', 'c', 'd', 'e']

Alternatively, you can use the `sorted()` function, which returns a new sorted list without modifying the original list:

In [ ]:
t = ['d', 'c', 'e', 'b', 'a']
new_t = sorted(t)  # sorted() returns a new sorted list
print(new_t)
print(t)

['a', 'b', 'c', 'd', 'e']
['d', 'c', 'e', 'b', 'a']

## Deleting elements

There are several ways to delete elements from a list. If you know the index of the element you want, you can use `pop`:

In [ ]:
t = ['a', 'b', 'c']
x = t.pop(1)
print(t)
print(x)

['a', 'c']
b

`pop` modifies the list and returns the element that was removed. If you don’t provide an index, it deletes and returns the last element.

If you don’t need the removed value, you can use the `del` statement:

In [ ]:
t = ['a', 'b', 'c']
del t[1]
print(t)

['a', 'c']

If you know the element you want to remove (but not the index), you can use `remove`:

In [ ]:
t = ['a', 'b', 'c']
t.remove('b')
print(t)

['a', 'c']

To remove more than one element, you can use `del` with a slice index:

As usual, the slice selects all the elements up to, but not including, the second index.

In [ ]:
t = ['a', 'b', 'c', 'd', 'e', 'f']
del t[1:5]
print(t)

['a', 'f']

## Lists and functions
There are a number of built-in functions that can be used on lists that allow you to quickly look through a list without writing your own loops:

In [ ]:
nums = [3, 41, 12, 9, 74, 15]
print(len(nums))
print(max(nums))
print(min(nums))
print(sum(nums))
print(sum(nums)/len(nums))

6
74
3
154
25.666666666666668

The `sum()` function only works when the list elements are numbers. The other functions (`max()`, `len()`, etc.) work with lists of strings and other types that can be comparable.

We could rewrite an earlier program that computed the average of a list of numbers entered by the user using a list.

First, the program to compute an average without a list:

In [ ]:
total = 0
count = 0
while (True):
    inp = input('Enter a number: ')
    if inp == 'done': break
    value = float(inp)
    total = total + value
    count = count + 1

average = total / count
print('Average:', average)

Enter a number: 15
Enter a number: 30
Enter a number: 2
Enter a number: 6
Enter a number: 100
Enter a number: done
Average: 30.6

In this program, we have `count` and `total` variables to keep the number and running total of the user’s numbers as we repeatedly prompt the user for a number.

We could simply remember each number as the user entered it and use built-in functions to compute the sum and count at the end.

In [ ]:
numlist = list()
while (True):
    inp = input('Enter a number: ')
    if inp == 'done': break
    value = float(inp)
    numlist.append(value)

average = sum(numlist) / len(numlist)
print('Average:', average)

Enter a number: 15
Enter a number: 30
Enter a number: 2
Enter a number: 6
Enter a number: 100
Enter a number: done
Average: 30.6

We make an empty list before the loop starts, and then each time we have a number, we append it to the list. At the end of the program, we simply compute the sum of the numbers in the list and divide it by the count of the numbers in the list to come up with the average.

## Lists and strings

**A string is a sequence of characters and a list is a sequence of values, but a list of characters is not the same as a string.** To convert from a string to a list of characters, you can use `list`.

**Differences between Lists and Strings:**

- Syntax:

 - strings:
 ```python
s = "hello"
```
 - lists:
 ```python
 lst = ['h', 'e', 'l', 'l', 'o']
 ```
- Types of Elements:
 - A string is made up of characters only.
 - A list can contain multiple data types: strings, numbers, other lists, etc.

- Mutability

- Methods:
 - String-specific methods: Strings have methods like `.upper(), .lower(), .replace(), .find()`, etc.
 - List-specific methods: Lists have methods like `.append(), .extend(), .insert(), .remove()`, etc.

- Iteration Differences:
 - Both strings and lists can be iterated over in a `for` loop, but the elements in a string are characters, while the elements in a list are whatever is stored in the list.
 ```python
 # String iteration
 s = "hello"
 for char in s:
      print(char)  # Prints each character: h, e, l, l, o
 # List iteration
 lst = ['a', 2, [3, 4]]
 for item in lst:
      print(item)  # Prints each element: a, 2, [3, 4]
  ```

To convert from a string to a list of characters, you can use `list`:

In [ ]:
s = 'spam'
t = list(s)
print(t)

['s', 'p', 'a', 'm']

- `s` is a string with the value `'spam'`.
- `t` is a list created from the string `s` by using the `list()` function, which converts each character in the string into an individual element in a new list.

Because `list` is the name of a built-in function, you should avoid using it as a variable name. I also avoid the letter “l” because it looks too much like the number “1”. So that’s why I use “t”.

The `list` function breaks a string into individual letters. If you want to break a string into words, you can use the `split` method:

In [ ]:
s = 'code script for this week'
t1= list(s)
print(t1)
t2 = s.split()
print(t2)
print(t2[3])

['c', 'o', 'd', 'e', ' ', 's', 'c', 'r', 'i', 'p', 't', ' ', 'f', 'o', 'r', ' ', 't', 'h', 'i', 's', ' ', 'w', 'e', 'e', 'k']
['code', 'script', 'for', 'this', 'week']
this

Once you have used `split` to break the string into a list of words, you can use the index operator (square bracket) to look at a particular word in the list.

You can call `split` with an optional argument called a delimiter that specifies which characters to use as word boundaries. The following example uses a hyphen as a delimiter:

In [ ]:
s = 'abc-def-xyz'
delimiter = '-'
s.split(delimiter)

['abc', 'def', 'xyz']

`join` is the inverse of `split`. It takes a list of strings and concatenates the elements. `join` is a string method, so you have to invoke it on the delimiter and pass the list as a parameter:

In [ ]:
t = ['code', 'script', 'for', 'this', 'week']
delimiter = ' '
delimiter.join(t)

'code script for this week'

In this case the delimiter is a space character, so join puts a space between words. To concatenate strings without spaces, you can use the empty string, ““, as a delimiter.

## Parsing lines
Usually when we are reading a file we want to do something to the lines other than just printing the whole line. Often we want to find the “interesting lines” and then parse the line to find some interesting part of the line. What if we wanted to print out the day of the week from those lines that start with “From”?

In [ ]:
line = 'From stephen.marquard@augusta.edu Sat Nov  5 09:14:16 2024'

if line.startswith('From '):
    words = line.split()
    print(words)
    print(words[2])

['From', 'stephen.marquard@augusta.edu', 'Sat', 'Nov', '5', '09:14:16', '2024']
Sat

## List arguments

When you pass a list to a function, the function gets a reference to the list. If the function modifies a list parameter, the caller sees the change. For example, `delete_head` removes the first element from a list:

In [ ]:
def delete_head(t):
    del t[0]
letters = ['a', 'b', 'c']
delete_head(letters)
print(letters)

['b', 'c']

It is important to distinguish between operations that modify lists and operations that create new lists. For example, the `append` method modifies a list, but the `+` operator creates a new list:

In [ ]:
t1 = [1, 2]
t2 = t1.append(3)
print(t1)
print(t2)

t1 = [1, 2]
print(t1)
t4 = t1 + [3]
print(t4)
t4 is t1

[1, 2, 3]
None
[1, 2]
[1, 2, 3]

False

The lists can contain the same values, but unless they are created as the same object (i.e., pointing to the same memory address), they will not be considered the same when checked with is.

In [ ]:
my_list = [1, 2, 3]
def bad_delete_head(t):
    t = t[1:]  # WRONG!
print(bad_delete_head(my_list))

None

Why It Doesn't Work:
- Local Variable Modification: In the bad_delete_head function, t is a local variable that receives a reference to the original list my_list when the function is called. However, when we execute t = t[1:], we create a new list that contains all elements of t except the first one. This new list is then assigned to the local variable t.

- No Effect on Original List: The assignment of t to a new list does not modify the original list my_list. Instead, it simply makes t refer to a new list. After the function exits, t goes out of scope, and the original my_list remains unchanged.

- Output of the Function: Since the function does not have a return statement, it implicitly returns None. This is why the output of print(bad_delete_head(my_list)) is None.

Visual Representation:
- Before calling the function:
 - my_list points to [1, 2, 3]
- Inside bad_delete_head:
 - t points to [1, 2, 3]
 - After t = t[1:], t now points to [2, 3] (new list created)
- After calling the function:
 - my_list still points to [1, 2, 3] (unchanged)
 - bad_delete_head(my_list) evaluates to None

![example1.jpg]()

In [ ]:
letters = [1, 2, 3]
def tail(t):
    return t[1:]    # Creates and returns a new list
rest = tail(letters)
print(rest)

[2, 3]

Why It Works:
- Returning a New List: The tail function does not try to modify t in place. Instead, it creates a new list that contains all elements of t except the first one using slicing (t[1:]) and then returns this new list.

- Preserving the Original List: The original list letters remains unchanged after the function call, as we are not modifying t directly. Instead, we are working with a copy of the list and returning a new one.

- Output of the Function: The output of print(rest) shows the new list [2, 3], which is the desired result of removing the first element from letters.

Visual Representation:
- Before calling the function:
  - letters points to [1, 2, 3]
- Inside tail:
  - t points to [1, 2, 3]
  - The slicing operation t[1:] creates a new list [2, 3], which is returned
- After calling the function:
  - letters still points to [1, 2, 3] (unchanged)
  - rest now points to [2, 3] (new list created)

![example2.jpg]()